services:
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 3s
      timeout: 3s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - net

  migrate:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path",
        "/db/migrations",
        "-database",
        "${MIGRATION_POSTGRES_URL}",
        "up",
      ]
    networks:
      - net
    depends_on:
      postgres:
        condition: service_healthy

  blog:
    build:
      context: .
      dockerfile: Dockerfile.local
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - net
    ports:
      - "3000:${APP_PORT}"
    env_file:
      - .env
    volumes:
      - ./:/blog

networks:
  net:
